<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/header.ejs') %>
</head>
<body>
<%- include('./partials/navbar.ejs') %>
<img class= "imagemdefundo" src="./public/images/Background.jpeg">
<div class="quadrade">
<img class="imagemerro" src="./public/images/404.png">
</div>
<%- include('./partials/scripts.ejs') %>
</body>
</html>
