<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
<%- include('./partials/navbar.ejs') %>
<h2 class="aboutus">About us</h2>
<h4 class="companhia"> Companhia</h4>
<h4 class="Morada"> Morada: </h4>
<p class="infomorada"> Praca do Município, 9000-072 Funchal <br> Funchal <br> Madeira <br> Portugal <br> </p>
<h4 class="contacto"> Contacto: </h4>
<p class="infocontato"> Telemóvel: 291 209 400 <br> Email: 2080320@student.uma.pt </p>
<h4 class="diretorregente"> Diretor-regente: </h4>
<p class="infodiretorregente"> Luís Barradas</p>
<h4 class="agentes"> Agentes: </h4>
<%- include('./partials/scripts.ejs') %>
</body>
</html>